# {{ ansible_managed }}
# This is a basic configuration that can easily be adapted to suit a standard
# installation. For more advanced options, see opendkim.conf(5) and/or
# /usr/share/doc/opendkim/examples/opendkim.conf.sample.

# Log to syslog
Syslog			yes
# Required to use local socket with MTAs that access the socket as a non-
# privileged user (e.g. Postfix)
UMask			002

# Sign for example.com with key in /etc/mail/dkim.key using
# selector '2007' (e.g. 2007._domainkey.example.com)
#Domain			example.com
#KeyFile		/etc/mail/dkim.key
#Selector		2007

# Set the user and group to opendkim user
UserID {{ dkim_user }}:{{ dkim_user }}

{% if ansible_os_family == "RedHat" or ansible_distribution == "Ubuntu" %}# Create a socket through which your MTA can communicate.
Socket {{ dkim_socket }}
{% endif %}

{% if ansible_distribution == "Ubuntu" %}
# TODO: Evaluate if this is needed for Debian/RedHat too and what is proper path to pid file there.
##  PidFile filename
###      default (none)
###
###  Name of the file where the filter should write its pid before beginning
###  normal operations.
#
PidFile               /var/run/opendkim/opendkim.pid
{% endif %}


# Commonly-used options; the commented-out versions show the defaults.
#Canonicalization	simple
Mode			sv
#SubDomains		no
#ADSPDiscard		no

KeyTable           /etc/opendkim/KeyTable
SigningTable       /etc/opendkim/SigningTable
ExternalIgnoreList /etc/opendkim/TrustedHosts
InternalHosts      /etc/opendkim/TrustedHosts

# Common settings. See dkim-filter.conf(5) for more information.
# Autorestart disabled (http://sourceforge.net/p/opendkim/bugs/22/)
# maybe wheezy have newer opendkim that works?
#AutoRestart             yes
Background              yes
Canonicalization        simple
DNSTimeout              5
SignatureAlgorithm      rsa-sha256
SubDomains              no
#UseASPDiscard          no
#Version                rfc4871
X-Header                no

###############################################
# Other (less-standard) configuration options #
###############################################
#
# If enabled, log verification stats here
#Statistics              /var/log/dkim-filter/dkim-stats
#
# If enabled, will generate verification failure reports for any messages
# that fail signature verification. These will be sent to the r= address
# in the policy record, if any.
#ReportInfo             yes
#
# If enabled, will issue a Sendmail QUARANTINE for any messages that fail
# signature verification, allowing them to be inspected later.
#Quarantine             yes
#
# If enabled, will check for required headers when processing messages.
# At a minimum, that means From: and Date: will be required. Messages not
# containing the required headers will not be signed or verified, but will
# be passed through
#RequiredHeaders        yes

